[Unit]
Description=Logitech R800 control on %I

[Service]
Environment="args="
ExecStart=/usr/bin/logi $args %I
StandardOutput=journal
StandardError=journal
